# local package
-e .

# external requirements

python-dotenv==0.19.2
h5py==3.6.0
jupyterlab==3.2.5
pandas==1.3.5
scikit-learn==1.0.1
scipy==1.7.3
seaborn==0.11.2
plotly==5.5.0
statsmodels==0.13.1
tensorboard==2.7.0 # this version conflicts with TF 1.15
# tensorflow-gpu==1.15 not needed for now
umap-learn==0.5.2
xds==0.1.8
cage-data==1.2.1
cookiecutter==1.7.3
geotorch==0.3.0
ipywidgets==7.6.5
wandb==0.12.9

#For netrep, A.H.Williams' commit on December 13 is used. If you want to use master branch:
#git+git://github.com/ahwillia/netrep@master#egg=netrep 
git+git://github.com/ahwillia/netrep@bc98a59f60aa87eef0935fff8bf7708d354935be#egg=netrep
